@page
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

@(Html.DevExtreme().Form<DevExtremeAspNetCoreArf.Models.SampleOrder>()
    .Items(items => {

        items.AddSimpleFor(m => m.OrderID);

        items.AddSimpleFor(m => m.OrderDate);

        items.AddSimpleFor(m => m.CustomerID);

        items.AddSimpleFor(m => m.CustomerName);

        items.AddSimpleFor(m => m.ShipCountry);

        items.AddSimpleFor(m => m.ShipCity);
    })
)
