@page
@{
    ViewData["Title"] = "TestCard";
}

<h2>Test Card</h2>
<i>Please fill this form as completely as possible and send with samples. Filling this form will help speed up your processing request.</i>
<p />
<h5>Project Type</h5>
@(Html.DevExtreme().Form<DevExtremeAspNetCoreArf.Models.Order>()
    .Items(items => {

        items.AddSimpleFor(m => m.OrderID);

        items.AddSimpleFor(m => m.OrderDate);

        items.AddSimpleFor(m => m.CustomerID);

        items.AddSimpleFor(m => m.CustomerName);

        items.AddSimpleFor(m => m.ShipCountry);

        items.AddSimpleFor(m => m.ShipCity);
    })
)