#summary {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#ContinueButton {
    display: block;
    width: 30%;
    text-align: center;
    margin-left: auto;
}

.dx-fieldset:first-child > h4:first-child {
    margin-top: 0;
}
#field-container > .dx-field > .dx-field-label {
    width: 20%;
}
#field-container > .dx-field > .dx-field-value {
    width: 80%;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.panel {
    padding: 15px;
    background-color: rgba(185, 181, 181, 0.15);
    margin-top: -15px;
    margin-bottom: 20px;
    border-radius: 0 15px 15px 15px;
}

.panel-information {
    padding: 15px;
    background-color: rgba(90, 190, 255, 0.30);
    margin-top: -15px;
    margin-bottom: 20px;
    border-radius: 0 15px 15px 15px;
}

.panel-exclamation {
    padding: 15px;
    background-color: bisque;
    margin-top: -15px;
    margin-bottom: 20px;
    border-radius: 0 15px 15px 15px;
}

.full-width-content {
    width: 100%;
    margin-top: -5px;
}
    .full-width-content > .dx-widget {
        width: 100%;
        margin-bottom: 0px;
    }
    .full-width-content .dx-field {
        width: 100%;
        margin-top: -5px;
    }

.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding-left: 7px;
    padding-right: 7px;
}

.custom-item {
    position: relative;
    min-height: 16px;
    width: 100%;
}
    .custom-item .product-name {
        display: inline-block;
        padding-left: 4px;
        text-indent: 0;
        line-height: 32px;
        font-size: 15px;
        width: 50%;
    }
    .custom-item > img {
        left: 1px;
        position: center;
        top: 50%;
        margin-top: -4px;
        width: 32px;
    }

.dx-dropdowneditor-input-wrapper .custom-item > img {
    padding-left: 8px;
}

.dx-theme-material #custom-templates .dx-texteditor-buttons-container {
    display: none;
}

.current-value {
    padding: 10px 0;
}
    .current-value > span {
        font-weight: bold;
    }

.dx-theme-material .dx-selectbox-container .product-name {
    padding-left: 58px;
}