@page

<p>The data has been successfully accepted.</p>
<br />

@(Html.DevExtreme().Button()
    .Text("Empty")
    .Type(ButtonType.Default)
    .Icon("refresh")
    .OnClick(@<text>
        function() {
            window.location = window.location;
        }
    </text>)
)